@page "/Edit"
@using XiaSaveEditorWeb.Service
@using XiaSaveFileLib;
@inject SaveGameService service
@inject NavigationManager nav


    <div class="editor bordered-background shadow">
        <div class="editor-header">
            <div class="editor-info">
                <div>
                    @(file.Header.FileName ?? "test")
                </div>
                <div>
                    @(file.Header.WriteTime ?? "test")
                </div>
            </div>
            <div class="editor-control">
                <a href="javascript:;">
                    <i class="fas fa-save"></i>
                </a>
                <a href="javascript:;">
                    <i class="fas fa-download"></i>
                </a>
            </div>
        </div>
        <div class="editor-body">
            <Collapsed Title="Sect">
                <form>
                    <div class="form-group">
                        <label for="sectName">Sect Name</label>
                        <input type="text" class="form-control" id="sectName">
                    </div>
                </form>
            </Collapsed>
            <Collapsed Title="Disciples">
                <label>Number of disciples:</label> 5
            </Collapsed>
        </div>
    </div>


@code {
    private bool render = false;
    private SaveFile file;

    override protected void OnInitialized()
    {
        if(service.SaveFile == null){}
            //nav.NavigateTo("./");
        else
        {
            render = true;
            file = service.SaveFile;
        }
    }
}