@page "/"
@using XiaSaveEditorWeb.Service
@inject SaveGameService service


<div class=@(isDrag ? "start-menu shadow drag" : "start-menu shadow")>
    <InputFile accept=".save" @ondragenter="HandleDragEnter" @ondragleave="HandleDragLeave" id="fileInput" OnChange="OnFileSelected" />
    @if(string.IsNullOrEmpty(fileName))
    {
    <label for="fileInput">Select</label> <span> a savefile or drop it here! </span>
    }else {
        @fileName
        <Loading/>
    }
</div>

@code {
    private string fileName = String.Empty;
    private IFileListEntry file;
    private bool isDrag = false;

    void OnFileSelected(IFileListEntry[] files) {
        isDrag = false;
        var info = files[0].Name.Split('.');
        if(info.Length < 2)
            return;

        var type = info[1];
        Console.WriteLine(type);
        if(type != "save")
            return;

        fileName = files[0].Name;
    }

    void HandleDragEnter() => isDrag = true;

    void HandleDragLeave() => isDrag = false;
}