@page "/"
@using XiaSaveEditorWeb.Service
@inject SaveGameService service
@inject NavigationManager nav


<div class=@(isDrag ? "start-menu bordered-background shadow drag" : "start-menu bordered-background shadow")>
    <InputFile accept=".save" @ondragenter="HandleDragEnter" @ondragleave="HandleDragLeave" id="fileInput" OnChange="OnFileSelected" />
    @if(string.IsNullOrEmpty(fileName))
    {
    <label for="fileInput">Select</label> <span> a savefile or drop it here! </span>
    }else {
        @fileName
        <Loading/>
    }
</div>

@code {
    private string fileName = String.Empty;
    private IFileListEntry file;
    private bool isDrag = false;

    override protected void OnInitialized()
    {
       service.OnLoadComplete += () => nav.NavigateTo("./Edit");
    }

    async Task OnFileSelected(IFileListEntry[] files) {
        isDrag = false;
        var info = files[0].Name.Split('.');
        if(info.Length < 2)
            return;

        var type = info[1];
        if(type != "save")
            return;

        file = files[0];
        fileName = file.Name;
        
        StateHasChanged();
        await service.LoadSaveFile(file.Data, fileName);
    }

    void HandleDragEnter() => isDrag = true;

    void HandleDragLeave() => isDrag = false;
}