@page "/"
@using XiaSaveEditorWeb.Service
@inject SaveGameService service


<div class="start-menu shadow">
    <InputFile id="fileInput" OnChange="OnFileSelected" />
    <label for="fileInput">Select</label>  a savefile or drop it here!
    @fileName
</div>

@code {
    string fileName ="none";

    void OnFileSelected(IFileListEntry[] files) {
        fileName = files[0].Name;
    }
}