<div class="header">
    <div class="item">
        <a href="https://discord.com/invite/uSXsk2T">
            <img src="assets/discord.svg">
        </a>
    </div>
    <div class="item">
        <a href="https://store.steampowered.com/app/955900/Amazing_Cultivation_Simulator/">
            <img src="assets/steam.svg">
        </a>
    </div>
</div>