<div class="footer">
    <div class="item">
        <div>Save Editor <b>0.1</b></div>  
        <div>ACS <b>1.0</b></div>
    </div>   
    <div class="item">
        Savegame editor made by Lycosh, all rights belong to 
        <a href="https://store.steampowered.com/app/955900/Amazing_Cultivation_Simulator/">GSQ Games</a>
    </div>
</div>