<div class="footer">
    <div class="item">
        <div>Save Editor 0.1</div>  
        <div>ACS 1.2</div>
    </div>   
    <div class="item">
        Savegame editor made by Lycosh, all rights belong to 
        <a href="https://store.steampowered.com/app/955900/Amazing_Cultivation_Simulator/">GSQ Games</a>
    </div>
</div>